<div class="container">
  <h2 class="table-title">Upcoming Visits</h2>
  <div class="visit-header-container">
    <p class="column-title">Date</p>
    <p class="column-title">Hour</p>
    <p class="column-title">Doctor Name</p>
    <p class="column-title">Pet Name</p>
  </div>
  <br>
  <div class="visit-body-container">
    <div class="column-row">
      <p class="column-content">25.04.2020</p>
      <p class="column-content">13:30</p>
      <p class="column-content">Adrianna Nowakowska</p>
      <p class="column-content">Karotka</p>
    </div>
    <div class="column-row">
      <p class="column-content">23.04.2020</p>
      <p class="column-content">11:30</p>
      <p class="column-content">Adrian Dziwak</p>
      <p class="column-content">Kluszek</p>
    </div>
  </div>
  <br>
  <br>
  <h2 class="table-title">Previous Visits</h2>
  <div class="visit-header-container">
    <p class="column-title">Date</p>
    <p class="column-title">Hour</p>
    <p class="column-title">Doctor Name</p>
    <p class="column-title">Pet Name</p>
  </div>
  <br>
  <div class="visit-body-container">
    <div class="column-row">
      <p class="column-content">25.04.2020</p>
      <p class="column-content">13:30</p>
      <p class="column-content">Adrianna Nowakowska</p>
      <p class="column-content">Karotka</p>
    </div>
    <div class="column-row">
      <p class="column-content">23.04.2020</p>
      <p class="column-content">11:30</p>
      <p class="column-content">Adrian Dziwak</p>
      <p class="column-content">Kluszek</p>
    </div>

    <div class="column-row">
      <p class="column-content">23.04.2020</p>
      <p class="column-content">11:30</p>
      <p class="column-content">Adrian Dziwak</p>
      <p class="column-content">Kluszek</p>
    </div>
  </div>
</div>
