<mat-card class="card">
  <div class="row">
    <div class="title">Date:</div>
    <div class="content">19.04.2020</div>
  </div>
  <div class="row">
    <div class="title">Doctor:</div>
    <div class="content">Adrianna Nowakowska</div>
  </div>
  <div class="description">
    <div class="title">Visit Description:</div>
    <div>
      <p class="description-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab
        aliquam animi aspernatur consequuntur, cumque delectus ducimus eaque eius enim, eum, ex
        facere fugit harum impedit in libero natus odit officiis perspiciatis quaerat quo quod
        recusandae ut veritatis? Ab aperiam atque consequatur corporis earum eum explicabo, hic
        illum in ipsam mollitia nulla numquam obcaecati provident quidem quod, repudiandae unde
        veritatis! Ad, debitis totam. Aliquid cum facere ipsa iste laboriosam libero magni nam
        sapiente sequi ullam! Dignissimos facere labore, libero maiores nostrum placeat possimus
        tenetur velit.</p>
    </div>
  </div>
</mat-card>
<br>
<mat-card class="card">
  <div class="row">
    <div class="title">Date:</div>
    <div class="content">19.04.2020</div>
  </div>
  <div class="row">
    <div class="title">Doctor:</div>
    <div class="content">Adrianna Nowakowska</div>
  </div>
  <div class="description">
    <div class="title">Visit Description:</div>
    <div>
      <p class="description-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab
        aliquam animi aspernatur consequuntur, cumque delectus ducimus eaque eius enim, eum, ex
        facere fugit harum impedit in libero natus odit officiis perspiciatis quaerat quo quod
        recusandae ut veritatis? Ab aperiam atque consequatur corporis earum eum explicabo, hic
        illum in ipsam mollitia nulla numquam obcaecati provident quidem quod, repudiandae unde
        veritatis! Ad, debitis totam. Aliquid cum facere ipsa iste laboriosam libero magni nam
        sapiente sequi ullam! Dignissimos facere labore, libero maiores nostrum placeat possimus
        tenetur velit.</p>
    </div>
  </div>
</mat-card>
