<div class="navbar-container">
  <div class="navbar-left">
    <div class="logo">
      <strong>LOGO</strong>
    </div>
    <a routerLink="/doctor/working-hours" class="link-item">Select working</a>
    <a routerLink="/pet-owner/book-visit" class="link-item">Book visit</a>
  </div>
  <div class="navbar-right">
    <div [matMenuTriggerFor]="menu">
      <mat-icon color="accent" class="hamburger-icon">menu</mat-icon>
    </div>
    <mat-menu #menu="matMenu">
      <div class="hamburger-dropdown">
        <a routerLink="/pet-owner/pets" class="link-item">Your Pets</a>
        <a routerLink="/pet-owner/visits" class="link-item">Your Visits</a>
        <a routerLink="/login" class="link-item">Login</a>
        <a routerLink="/register" class="link-item">Register</a>
        <a routerLink="/logout" class="link-item" (click)="logout()">Logout</a>
      </div>
    </mat-menu>
  </div>
</div>
