<div class="container" [formGroup]="addPetForm">
  <div class="row">
    <mat-form-field class="input">
      <input matInput formControlName="name" placeholder="Pet Name">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="input">
      <mat-label>Choose a date</mat-label>
      <input formControlName="dateOfBirth" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="input">
      <mat-label>Pet Type</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of petTypes | keyvalue | enumDigitsFilter" [value]="type.value">{{type.value}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <input #imageInput hidden="true" type="file" onclick="this.value=null"
           (change)="imageInputChange($event)" accept="image/*"/>
    <button class="input" mat-button color="accent" (click)="imageInput.click()">
      <mat-icon>file_upload</mat-icon>
      Upload image
    </button>
  </div>
  <div class="row action-buttons">
    <button class="button" mat-button mat-raised-button [mat-dialog-close]="onModalClose(true)" color="success"
    [disabled]="addPetForm.invalid">
      Create
    </button>
    <button class="button" mat-button mat-raised-button [mat-dialog-close]="onModalClose(false)">Cancel</button>
  </div>
</div>
