.header-column-title {
  margin: 30px auto;
  text-align: center;

  .day {
    font-size: 15px;
    color: var(--color-white-grey);
    margin: 10px auto;
  }

  .date {
    font-size: 20px;
    color: var(--color-pink);
    margin: 10px auto;
  }
}
