.add-button {
  display: flex;
  align-items: center;

  .button-add-text {
    margin: 3px 5px;
  }
}

.pet-cards {
  display: flex;
  flex-wrap: wrap;

  .pet-card {
    flex: 0 0 23%;
    margin: 10px;
  }
}
